<h1>Add it </h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.submit "adding", class: "btn btn-primary" %>
<% end %>
